<div class="flex-container">
    <div [ngClass]="mini=== 'true' ? 'headerMini' : 'header'">
        <img class="logo_img" src="../assets/logo.jpeg">
        <div class="heading">{{title}}</div>
    </div>

    <div [ngClass]="mini=== 'true' ? 'topnav' : 'hideTopnav'">
        <a class="active" [routerLink]="['/', 'library', 'home']">Home</a>
        <a [routerLink]="['/','library','books']">All Books</a>
        <a [routerLink]="['/','library','authors']">Authors</a>
        <a [routerLink]="['/','library','subjects']">Subjects</a>
    </div>
    <img [ngClass]="mini=== 'true' ? 'logout' : 'hideLogout'" src="../../assets/logout.png" (click)="logout()">
</div>